# Dependencies
/node_modules

# Production
/build

# dotenv environment variables file
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Ignora le variabili d'ambiente locali
.env

# Ignora i file con le credenziali
client_secret_*.json
credenziali oauthgoogle.txt

# Misc
.DS_Store